#story {
    width: 100%;
    padding: 50px 100px;
    display: flex;

    .storyTexts {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        padding-right: 200px;
        h1{
            font-size: 40px;
        }
    }

    .storyImg {
        width: 50%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}